body {
    background-image: url("../img/tennis-img.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.container {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;    
    -webkit-justify-content: space-around;  
    justify-content: space-around;
}

.box {
    border-radius: 3px;
    background-color: rgba(227, 241, 252, 0.8);
    margin: 20px;
    flex-basis: 360px;
    text-align: center;
    padding: 25px;
    font-size: large;

}

.player-number {
    display: inline-block;
    color: crimson;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

.player-name {
    text-transform: uppercase;
    font-weight: bolder;
}